{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<section>
    {% for book in books  %}
        <article>
            <img src="{{ asset('upload/' ~ book.image) }}" alt="{{ book.title }}">
            <h2>{{ book.title }}</h2>
        </article>
    {% endfor %}
</section>
{% endblock %}
